{% extends "blog/base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>class</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous">
  </head>
  
  <main>
    <div class="container text-center">
    <h1 class="text-dark">Welcome to the department of EEE</h1>
    <p class="text-secondary h3">PSG College of Technology</p>
    <p align='justify'>About 48 full-time and part-time programs in science, engineering and management at undergraduate and postgraduate levels by the 11 engineering and technology, computer applications, management sciences, basic sciences and humanities departments. 
        The institute offers three 5-year integrated sandwich engineering courses which combines class room coaching with industrial training, one of the few in the country to offer such a course. 
        Among the undergraduate and postgraduate programmes offered by the college, many are accredited by the National Board of Accreditation of the All India Council of Technical Education (AICTE). 
        Being autonomous, the college frames its own curricula, updates syllabus, introduces new courses and is empowered to administer its own evaluation system. 
        Since 1960, PSG College of Technology has been publishing the "PSG Design Data Book", the engineering Data hand book, used throughout the country by engineers and students. 
        More than 505 research scholars are pursuing research programmes leading to PhD/MS/M.Tech degrees and the college is a recognized QIP centre for Postgraduate and PhD programmes.
    </p>
    <p align='justify'>
        Our department was started in 1951. Currently, 44 faculty members are working to Equip, Engineer, and Enable around 700 students of undergraduate, postgraduate, and research programmes.
        It's our pleasure and pride to provide highly skilled technological manpower to solve interesting problems at various renowned electrical and electronics industries. 
        To keep our academic programmes in-line with the industrial needs, with the help of all stakeholders, continuous and concerted efforts are being taken to revamp the curriculum.
        During recent years, we have established state of the art facilities like Danfoss-Centre for Climate and Energy, Schneider-Power Converter Laboratory, Prosun-Centre for Solar PV Systems, Smart Grid Laboratory, Special Electrical Machines Laboratory, and Centre for Internet of Things.
        For the past six decades, the department has been producing numerous outstanding engineers for the country. 
        Many of our alumni have registered notable contributions in their industrial, research and academic professions. 
        As a team, we continue to provide outcome based quality education for the generations to come.
        Welcome to the Department of Electrical and Electronics Engineering.
    </p>
    </div>
    <div class="team row">
        <div class="col-md-12 text-center">
            <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
                <div class="carousel-inner text-center">
                    <div class="carousel-item active">
                        <div class="card mr-auto d-inline-block shadow">
                            <div class="card-body">
                            <h3 class="card-title">Vision</h3>
                            <p class="card-text">
                                To be a Treasure-house of the state-of-the-art knowledge relevant to the discipline of Electrical and Electronics Engineering, where the stakeholders could Explore, Experiment, and Exhibit.
                            </p>
                            <a href="http://www.psgtech.edu/hme.php?var=EEE" class="text-secondary text-decoration-none">Go to department</a>
                            <p class="text-black-50">EEE</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card  d-inline-block mr-2 shadow">
                            <div class="card-body">
                            <h3 class="card-title">Mission</h3>
                            <p class="content">
                                EQUIP students with advanced knowledge in the field of Electrical and Electronics as well as professional skills necessary to face the challenges of the future.
                                ENGINEER students to engage in researc activites leading to innovative applications of technology for the benefits of mandkind.
                                ENABLE students to become responsible citizens of the country with a willingness to serve the society.
                            </p>
                            <a href="http://www.psgtech.edu/hme.php?var=EEE" class="text-secondary text-decoration-none"> Go to department </a>
                            <p class="text-black-50">EEE</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>
{% endblock content %}
