<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>class</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link rel="stylesheet" href="./Style.css" />
  <link rel="stylesheet" href="./mobile-style.css">
</head>

<body>
  <header>
    <div class="container-fluid p-0">
      <nav class="navbar navbar-expand-md bg-steel fixed-top">
        <a class="navbar-brand" href="#">
          <i class="fas fa-book-reader fa-2x mx-3"></i>Class</a>
        <div class="container">
          <div class="collapse navbar-collapse mx-4" id="navbarToggle">
            <div class="navbar-nav mr-auto ">
              <a class="navbar-brand nav-link" href="{% url 'blog-home' %}">Home</a>
              <a class="navbar-brand nav-link" href="{% url 'blog-about' %}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <section class="section-4">
      <div class="container text-center">
        <h1 class="text-dark">Welcome to the department of EEE</h1>
        <p class="text-secondary">Electrical and Electronics Engineering</p>
      </div>
      <div class="team row ">
        <div class="col-md-4 col-12 text-center">
        </div>
        <div class="col-md-4 col-12">
            <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
                <div class="carousel-inner text-center">
                  <div class="carousel-item active">
                    <div class="card mr-2 d-inline-block shadow">
                      <div class="card-img-top mr">
                        <img src="../assets/vision_eee.PNG" class="img-fluid rounded-circle w-50 p-4" alt="">
                      </div>
                      <div class="card-body">
                        <h3 class="card-title">Vision</h3>
                        <p class="card-text">
                          To be a Treasure-house of the state-of-the-art knowledge relevant to the discipline of Electrical and Electronics Engineering, where the stakeholders could Explore, Experiment, and Exhibit.
                        </p>
                        <a href="http://www.psgtech.edu/hme.php?var=EEE" class="text-secondary text-decoration-none">Go to department</a>
                        <p class="text-black-50">EEE</p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card  d-inline-block mr-2 shadow">
                      <div class="card-body">
                        <h3 class="card-title">Mission</h3>
                        <p class="content">
                          EQUIP students with advanced knowledge in the field of Electrical and Electronics as well as professional skills necessary to face the challenges of the future.
                          ENGINEER students to engage in researc activites leading to innovative applications of technology for the benefits of mandkind.
                          ENABLE students to become responsible citizens of the country with a willingness to serve the society.
                        </p>
                        <a href="http://www.psgtech.edu/hme.php?var=EEE" class="text-secondary text-decoration-none"> Go to department </a>
                        <p class="text-black-50">EEE</p>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <div class="container-fluid p-0">
      <div class="row text-left">
        <div class="col-md-5 col-sm-5">
          <h4 class="text-light">About us</h4>
          <p class="text-muted">2020 Batch EEE(SW) students in PSG Tech coimbatore. This page is fully for internal purpose only.</p>        </div>
        <div class="col-md-4 col-sm-12">
          <h4 class="text-light">Contact Us</h4>
          <p class="text-muted">Stay Updated</p>
          <form class="form-inline">
            <div class="col pl-0">
              <div class="input-group pr-5">
                <input type="text" class="form-control bg-dark text-white" id="inlineFormInputGroupUsername2" placeholder="Email">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-arrow-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-2 col-sm-12">
          <h4 class="text-light">Follow Us</h4>
          <p class="text-muted">Let us be social</p>
          <div class="column text-light">
            <a class="fab fa-facebook-f" href="https://www.facebook.com/profile.php?id=100009927934734" target="_blank">
            </a>
            <a class="fab fa-instagram col-sm-1" href="https://www.instagram.com/ganeshjackson/" target="_blank">
            </a>
            <a class="fab fa-twitter col-sm-1" href="https://twitter.com/ganesh_jackson" target="_blank">
            </a>
            <a class="fab fa-youtube col-sm-1" href="https://www.youtube.com/channel/UCIdr9hYPrZ4I_46WD_bCQ7w" target="_blank">
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="./main.js"></script>
</body>

</html>