{% extends "blog/base.html" %}
{% block content %}
	{% for user in users %}
		<div class="content-section">
			<div class="media">
				<img class="account-img mt-3" src="{{ user.image.url }}">
<pre>
<a class="mb-4" href="{% url 'user-posts' user.user %}">Name : {{ user.user }}</a>
Department : {{ user.department }}
working at : {{ user.working_at }}
Email : {{ user.contact_email }}
Batch : {{ user.batch }}
Skillsets : {{ user.skillsets }}
Tools_known : {{ user.tools_known }}
Computer_languages_known : {{ user.computer_languages_known }}
</pre>
			</div>
		</div>
	{%endfor%}
{% endblock content %}
